@charset "UTF-8";
*{
    margin: 0%;
}
body{

}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}
header>h1{
    
    padding: 5px;
}
header>p{
    
}
header a{
    color: white;
    text-decoration: none;
}
section{
    background-color: white;
    padding: 10px;
    padding-left: 30px;
    background-image: url('');
}
section .texto{
    width: 200px;
    padding: 2px 10px 2px 10px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.836);
    color: white;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}